<!DOCTYPE html>
<html>
  <head>
    <title>Eldio : Ellen Radio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>지금 날씨가 어때? :-)</h1>
    <ul>
      	<a href="/emotion/1">파란하늘이야!</a>
    	<a href="/emotion/2">비가 내렸어!</a>
    	<a href="/emotion/3">회색하늘이야!</a>
    	<a href="/emotion/4">해가 쨍쨍! 더워!</a>
    	<a href="/emotion/5">선선해!</a>
    	<a href="/emotion/6">추워!</a>
    </ul>
  </body>
</html>
